In [1]:
# Libraries
# Libraries being used\n",
''' To install new libraries all install commands should bei n the anaconda terminal.
    "Open Anaconda Prompt -> type: activate projectName -> then the install command (pip or conda)'''
import pandas
# pip install fredapi
# https://github.com/mortada/fredapi documentation
from fredapi import Fred

In [3]:
# Loading Data sets
fred = Fred(api_key="29ace72ad136847f37a6618fda6fdc75")
data = fred.get_series('SP500')

unRate = fred.get_series_as_of_date('UNRATE', '6/1/2014')
cpi = 'CPIAUCSL'
gdp = 'GDPC1'

In [4]:
unRate

                     date       realtime_start value
0     1948-01-01 00:00:00  1960-03-15 00:00:00   3.5
1     1948-01-01 00:00:00  1966-02-08 00:00:00   3.4
2     1948-02-01 00:00:00  1960-03-15 00:00:00   3.8
3     1948-02-01 00:00:00  1966-02-08 00:00:00   3.9
4     1948-02-01 00:00:00  1967-02-09 00:00:00   3.8
5     1948-03-01 00:00:00  1960-03-15 00:00:00     4
6     1948-04-01 00:00:00  1960-03-15 00:00:00     4
7     1948-04-01 00:00:00  1964-02-06 00:00:00   4.1
8     1948-04-01 00:00:00  1966-02-08 00:00:00     4
9     1948-04-01 00:00:00  1967-02-09 00:00:00   3.9
10    1948-05-01 00:00:00  1960-03-15 00:00:00   3.6
11    1948-05-01 00:00:00  1964-02-06 00:00:00   3.5
12    1948-06-01 00:00:00  1960-03-15 00:00:00   3.8
13    1948-06-01 00:00:00  1964-02-06 00:00:00   3.7
14    1948-06-01 00:00:00  1967-02-09 00:00:00   3.6
15    1948-07-01 00:00:00  1960-03-15 00:00:00   3.7
16    1948-07-01 00:00:00  1964-02-06 00:00:00   3.6
17    1948-07-01 00:00:00  1966-02-08 00:00:00   3.7
18    1948-07-01 00:00:00  1967-02-09 00:00:00   3.6
19    1948-08-01 00:00:00  1960-03-15 00:00:00   3.9
20    1948-08-01 00:00:00  1961-02-09 00:00:00     4
21    1948-08-01 00:00:00  1964-02-06 00:00:00   3.9
22    1948-09-01 00:00:00  1960-03-15 00:00:00   3.8
23    1948-10-01 00:00:00  1960-03-15 00:00:00   3.7
24    1948-10-01 00:00:00  1961-02-09 00:00:00   3.6
25    1948-10-01 00:00:00  1964-02-06 00:00:00   3.7
26    1948-11-01 00:00:00  1960-03-15 00:00:00   3.8
27    1948-11-01 00:00:00  1962-01-31 00:00:00   3.7
28    1948-11-01 00:00:00  1964-02-06 00:00:00   3.8
29    1948-12-01 00:00:00  1960-03-15 00:00:00     4
...                   ...                  ...   ...
1903  2012-08-01 00:00:00  2012-09-07 00:00:00   8.1
1906  2012-09-01 00:00:00  2012-10-05 00:00:00   7.8
1907  2012-10-01 00:00:00  2012-11-02 00:00:00   7.9
1908  2012-10-01 00:00:00  2014-01-10 00:00:00   7.8
1909  2012-11-01 00:00:00  2012-12-07 00:00:00   7.7
1910  2012-11-01 00:00:00  2013-01-04 00:00:00   7.8
1912  2012-12-01 00:00:00  2013-01-04 00:00:00   7.8
1913  2012-12-01 00:00:00  2014-01-10 00:00:00   7.9
1914  2013-01-01 00:00:00  2013-02-01 00:00:00   7.9
1916  2013-02-01 00:00:00  2013-03-08 00:00:00   7.7
1917  2013-03-01 00:00:00  2013-04-05 00:00:00   7.6
1918  2013-03-01 00:00:00  2014-01-10 00:00:00   7.5
1919  2013-04-01 00:00:00  2013-05-03 00:00:00   7.5
1921  2013-05-01 00:00:00  2013-06-07 00:00:00   7.6
1922  2013-05-01 00:00:00  2014-01-10 00:00:00   7.5
1923  2013-06-01 00:00:00  2013-07-05 00:00:00   7.6
1924  2013-06-01 00:00:00  2014-01-10 00:00:00   7.5
1925  2013-07-01 00:00:00  2013-08-02 00:00:00   7.4
1926  2013-07-01 00:00:00  2014-01-10 00:00:00   7.3
1927  2013-08-01 00:00:00  2013-09-06 00:00:00   7.3
1928  2013-08-01 00:00:00  2014-01-10 00:00:00   7.2
1931  2013-09-01 00:00:00  2013-10-22 00:00:00   7.2
1934  2013-10-01 00:00:00  2013-11-08 00:00:00   7.3
1935  2013-10-01 00:00:00  2014-01-10 00:00:00   7.2
1936  2013-11-01 00:00:00  2013-12-06 00:00:00     7
1938  2013-12-01 00:00:00  2014-01-10 00:00:00   6.7
1939  2014-01-01 00:00:00  2014-02-07 00:00:00   6.6
1940  2014-02-01 00:00:00  2014-03-07 00:00:00   6.7
1941  2014-03-01 00:00:00  2014-04-04 00:00:00   6.7
1944  2014-04-01 00:00:00  2014-05-02 00:00:00   6.3

[1926 rows x 3 columns]